
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Add New Experience Page </h4>
<form method="post">
    <input name="Header" class="form-control" type="text" placeholder="Write Header" /> <br />
    <input name="LowerTitle" class="form-control" type="text" placeholder="Write LowerTitle" /> <br />
    <input name="Date" class="form-control" type="text" placeholder="Write Date" /> <br />
    <textarea class="form-control" type="text" placeholder="Write Exlpanation" name="Explanation" rows="5"></textarea> <br />
    <button class="btn btn-info">Save</button>
</form>

