<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Communication</h2>
        <label>FullName:</label>
        <input type="text" class="form-control" name="FirstNameLastName"/>
        <label>Mail:</label>
        <input type="text" class="form-control" name="Mail" />
        <label>Title:</label>
        <input type="text" class="form-control" name="Title" />
        <label>Message:</label>
        <input type="text" class="form-control" name="Message" />
        <br />
        <button class="btn-info"> Send Message </button>
    </form>
</div>
