
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Add New Admin Page </h4>
<form method="post">
    <input name="UserName" class="form-control" type="text" placeholder="Write UserName" /> <br />
    <input name="Password" class="form-control" type="text" placeholder="Write Password" /> <br />
    <button class="btn btn-info">Save</button>
</form>

