@using MyCV.Models.Entity
@model List<Certifications>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{string color = ""; }
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
     <div class="col-md-12">
                    <div class="card">
                        
                           
                      
                        <div class="card-body">
                            <div class="tab-content">
                               
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        @foreach (var item in Model)
                                        {


                                            if (item.Id%2==0)
                                            {
                                                color = "btn btn-success";
                                            }
                                            else
                                            {
                                                color = "btn btn-primary";
                                            }
                                        <div class="time-label">
                                            <a href="/Certifications/UpdateCertification/@item.Id/" class="@color">
                                                <span class="@color">
                                                    @item.Date
                                                </span>
                                            </a>
                                        </div>
                                    
                                        <div>
                                            
                                            <div class="timeline-item">                                      
                                                <div class="timeline-footer">
                                                    <p>@item.Title</p>
                                              
                                                </div>
                                            </div>
                                        </div>

                                        }
                                       
                                      
                                    </div>
                                <a href="/Certifications/AddCertification/" class="btn btn-primary">Add New Certification </a>
                               
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
          
</body>
</html>

